.header {
  display: flex;
  justify-content: center; }

.form-name {
  font-family: "Verdana", sans-serif;
  font-size: 20px; }

.form {
  border: 1px solid #000;
  width: 266px;
  height: 331px; }

.name {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin: 0 auto;
  height: 49px;
  width: 206px; }

.title {
  padding: 0 32px 0;
  font-size: 18px;
  font-family: "Verdana", sans-serif; }

.input {
  font-size: 15px;
  font-family: "Verdana", sans-serif;
  text-align: left; }

.checkbox {
  padding: 15px 0 0 25px; }

#checkbox2, #checkbox3 {
  margin: 15px 4px 0; }

.buttons {
  display: flex;
  justify-content: center;
  margin: 15px auto; }

.button1, .button2 {
  display: flex;
  justify-content: center;
  margin: 40px 10px 0;
  height: 30px; }

/*# sourceMappingURL=form-view.css.map */
