$font-family: 'Verdana', sans-serif;
@mixin display-fl{
	display: flex;
	justify-content: center;
}
.header{
	@include display-fl;
}
.form-name{
	font-family: $font-family;
	font-size: 20px;
}
.form{
	border: 1px solid #000;
	width: 266px;
	height:331px;
}
.name{
	@include display-fl;
	padding: 20px 0;
	margin: 0 auto;
	height: 49px;
	width: 206px;
}
.title{
	padding: 0 32px 0;
	font-size: 18px;
	font-family: $font-family;
}
.input{
	font-size:15px;
	font-family: $font-family;
	text-align: left;
}
.checkbox{
	padding: 15px 0 0 25px;
}
#checkbox2, #checkbox3{
	margin: 15px 4px 0;
}
.buttons{
    @include display-fl;
    margin:15px auto;
}
.button1, .button2{
	@include display-fl;
	margin: 40px 10px 0;
	height: 30px;
}