@mixin display-fl{
	display:flex;
	flex-direction:column;
}
@mixin w-h{
	height:100%;
	width:170px;
}

*{
	margin:0;
	padding:0;
}
.mainn{
	@include display-fl;
	align-items:center;
	width:100%;
}
.dishh{
	@include display-fl;
	align-items:center;
	width:80%;
}
.roww{
	display:flex;
	height:200px;
	justify-content:space-between;
	align-items:center;
	width:100%;
}
.prep{
	@include display-fl;
	align-items:center;
	width:100%;
}
.prep-img{
	@include w-h;
	background-image:url(/img/desert.jpg);
	background-size:cover;
}
.cook-img{
	@include w-h;
	background-image:url(/img/drink.png);
	background-size:cover;
}
.servs-img{
	@include w-h;
	background-image:url(/img/main.png);
	background-size:cover;
}
.text{
	height:80%;
	width:30%;
	overflow:hidden;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
	
}
.progr{
	padding-top:30px;
	@include display-fl;
	height:60%;
	width:30%;
}
.rr{
	height:100%;
	background-color:rgb(225,100,100);
}
.prog-warp{
	width:100%;
	height:30%;
	border:3px solid #999999;
}
.cook{
	width:100%;
}
.servs{
	width:100%;
}
.faker{
	color:rgb(225,100,100);
}
.head{
	display:flex;
	width:100%;
}
.img-wrap{
	@include display-fl;
	height:80%;
	width:170px;
}