@mixin displ-fl{
	display:flex;
	flex-direction:column;
}
*{
	margin:0;
	padding:0;
}
.mai{
	align-items:center;
	width:100%;
	@include displ-fl;
}
.time-left{
	@include displ-fl;
	align-items:center;
	width:40%;
}
.rw{
	display:flex;
	width:50%;
}
.dish-cel{
	width:50%;
	padding-left:20%;
}
.time-head p{
	width:100%;
	text-align:center;
}