@mixin display-fl{
	display:flex;
	flex-direction:column;
}
*{
	margin:0;
	padding:0;
}
.main{
	@include display-fl;
	align-items:center;
}
.main-container{
	@include display-fl;
	align-items:center;
	width:100%;
}
.order-row{
	display:flex;
	justify-content:space-between;
	width:80%;
}
.order-cell{
	display:flex;
	width:30%;
}
.dish{
	@include display-fl;
	justify-content:flex-end;
	width:100%;
	padding-top:20px;
	height:200px;
}
.name{
	text-align:center;
	line-height:30px;
}
.progress{
	width:20px;
	@include display-fl;
	justify-content:flex-end;
	padding-bottom:30px;
	padding-top:20px;
}
.desert-img{
	height:100%;
	background-image:url(../img/desert.jpg);
	background-size:cover;
}
.drink-img{
	height:100%;
	background-image:url(../img/drink.png);
	background-size:cover;
	background-repeat:no-repeat;
}
.main-img{
	height:100%;
	background-image:url(../img/main.png);
	background-size:cover;
	background-repeat:no-repeat;
}
.desert-progress{
	background-color:rgb(225,100,100);
	width:100%;
}
.main-progress{
	background-color:rgb(225,100,100);
	width:100%;
}
.drink-progress{
	background-color:rgb(225,100,100);
	width:100%;
}
