 <link rel="stylesheet" href=/css/order.css>
	<div class="main">
		<div class="main-container">
			<div  class="order-row">
				<div class="order-cell">
					<div class="desert dish">
						<div class="desert-img"></div>
						<span class="desert-name name">{{desert}}</span>
					</div>
					<div class="progress ">
						<div class="desert-progress">
					</div>
					</div>
				</div>
				<div class="order-cell">
					<div class="drink dish">
						<div class="drink-img"></div>
						<span class="drink-name name">{{drink}}</span>
					</div>
					<div class="progress ">
						<div class="drink-progress">
						</div>
					</div>
				</div>
				<div class="order-cell">
					<div class="main-dish dish">
						<div class="main-img"></div>
						<span class="main-name name">{{main}}</span>					
					</div>
					<div class="progress">
						<div class="main-progress">
						</div>					
					</div>				
				</div>
			</div>
		</div>
		{{>literal}}
		{{> meat}}
		<form class="get" method="get" name="reload">
		</form>
	</div>
	<script>
		var desertProgress=document.getElementsByClassName("desert-progress")[0];
		desertProgress.style.height={{desertTime}}+'%';
		var drinkProgress=document.getElementsByClassName("drink-progress")[0];
		drinkProgress.style.height={{drinkTime}}+'%';
		var mainProgress=document.getElementsByClassName("main-progress")[0];
		mainProgress.style.height={{mainTime}}+'%';
		timer=setTimeout(function recursion(){
			var get=document.getElementsByClassName("get")[0];
			get.submit();
		},10000000);
	</script>