<link rel="stylesheet" href=/css/literal.css>
<div class="mainn">
	<div class="dishh">
		<div class="prep">
			<div class="head">
				<span class="prep-head">Stages for </span>
				<span class="faker">{{dish}}</span>
			</div>
			<div class="roww">
				<div class="img-wrap">
					<span>Preparations</span>
					<div class="prep-img">
					</div>
				</div>
				<div class="prep-text text">
				{{prepText}}
				</div>
				<div class="progr">
					<div>Current Progress</div>
					<div class="prog-warp">
						<div class="prep-progr rr">
					</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cook">
			<div class="roww">
				<div class="img-wrap">
					<span>Cooking</span>
					<div class="cook-img">
					</div>
				</div>
				<div class="cook-text text">
				{{cookText}}
				</div>
				<div class="progr">
					<div>Current Progress</div>
					<div class="prog-warp">
						<div class="cook-progr rr">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="servs">
			<div class="roww">
				<div class="img-wrap">
					<span>Serving</span>
					<div class="servs-img">
					</div>
				</div>
				<div class="servs-text text">
				{{servsText}}
				</div>
				<div class="progr">
					<div>Current Progress</div>
					<div class="prog-warp">
						<div class="servs-progr rr" >
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var prepProgress=document.getElementsByClassName("prep-progr")[0];
	prepProgress.style.width={{prepTime}}+'%';
	var cookProgress=document.getElementsByClassName("cook-progr")[0];
	cookProgress.style.width={{cookTime}}+'%';
	var servsProgress=document.getElementsByClassName("servs-progr")[0];
	servsProgress.style.width={{servsTime}}+'%';
</script>