* {
  margin: 0;
  padding: 0; }

.mainn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.dishh {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; }

.roww {
  display: flex;
  height: 200px;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.prep {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.prep-img {
  height: 100%;
  width: 170px;
  background-image: url(/img/desert.jpg);
  background-size: cover; }

.cook-img {
  height: 100%;
  width: 170px;
  background-image: url(/img/drink.png);
  background-size: cover; }

.servs-img {
  height: 100%;
  width: 170px;
  background-image: url(/img/main.png);
  background-size: cover; }

.text {
  height: 80%;
  width: 30%;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px; }

.progr {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 30%; }

.rr {
  height: 100%;
  background-color: #e16464; }

.prog-warp {
  width: 100%;
  height: 30%;
  border: 3px solid #999999; }

.cook {
  width: 100%; }

.servs {
  width: 100%; }

.faker {
  color: #e16464; }

.head {
  display: flex;
  width: 100%; }

.img-wrap {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 170px; }

/*# sourceMappingURL=literal.css.map */
