
<link rel="stylesheet" href=/css/meat.css>
<div class="mai">
	<div class="time-left">
		<div class="time-head row">
			<p>Time Left</p>
		</div>
		<div class="desert row">
			<div class="dish-cel">
				{{desert}}
			</div>
			<div class="dish-cel">
				{{desertTime}}:{{desertTime2}}
			</div>
		</div>
		<div class="drink row">
				<div class="dish-cel">
				{{drink}}
			</div>
			<div class="dish-cel">
				{{drinkTime}}:{{drinkTime2}}
			</div>
		</div>			
		<div class="main-dish row">
			<div class="dish-cel">
				{{main}}
			</div>
			<div class="dish-cel">
				{{mainTime}}:{{mainTime2}}
			</div>
		</div>
	</div>
</div>